.containerHeader {
  width: 100%;
  height: 70px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background-color: var(--primary);
}

.containerHeader__left>button {
  width: 201px;
  height: 50px;
  border: 2px solid #FFFFFF;
  border-radius: 0px 10px 10px 0px;
  background-color: transparent;
  color: #FFFFFF;
  font-size: 24px;
  cursor: pointer;
}

.containerHeader__right>input {
  width: 500px;
  height: 50px;
  background-color: transparent;
  border: 2px solid #FFFFFF;
  border-radius: 10px 0px 0px 10px;
  font-size: 24px;
  margin-right: 15px;
  padding-left: 20px;
}

.containerHeader__right>input::placeholder {
  color: #bbb;
}

.containerHeader__right>button {
  width: 100px;
  height: 50px;
  background: var(--primary);
  border: 2px solid #FFFFFF;
  border-radius: 0px 10px 10px 0px;
  font-size: 24px;
  color: #FFFFFF;
  cursor: pointer;
}